/*TEXT FONT IMPORT - FAMILY: INTER*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;800&display=swap');

/*STYLE PROPERTIES RESET*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Inter;
}

body {
    background-color: #011c39;
    color: white;
}

.contenido {
    display: grid;
    background-color: #042240;
    margin: 0 15% 0 15%;
    min-height: 101vh;
    grid-template-rows: auto 1fr auto;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.50);
}

.web-logo {
    height: 40px;
}

.hero {
    display: flex;
    background-image: url(../img/hero.jpg);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: top;
}

.hero-text {
    font-size: 35px;
    font-weight: 400;
    color: black;
    margin: 5% 10% 0% 10%;
    padding: 0 5px 8px 5px;
    text-align: center;
    background-color: goldenrod;
    border-radius: 5px 5px 40px 40px;
    line-height: 45px;
    box-shadow: 10px 0 0px 0px #EDC330, -10px 0 0px 0px #EDC330;
    height: fit-content;
}

.info {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10% 0 10%;
    font-size: 30px;
}

footer {
    display: flex;
    height: 120px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #011c39;
    padding: 0;
}

.link-wpp, .link-afa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 15px;
    color: white;
}

.link-wpp p {
    margin-left: 8px;
}    

.link-wpp p, .link-afa p {
    margin-bottom: 0px;
} 

.wpp-icon i {
    color: white;
    font-size: 60px;
    height: 30px;
}

.titulos {
    margin: 20px 0 20px 20px;
    font-family: Inter;
    color: goldenrod;
    font-size: 25px;
    font-weight: 400;
}

.buscar {
    display: flex;
    margin: 30px;
    justify-content: space-between;
    align-items: center;
}

.buscar h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: goldenrod;
}

.buscador {
    display: flex;
    justify-content: right;
}

main section input {
    height: 30px;
}

.boton-buscar {
    height: 30px;
    width: 70px;
}

.input-buscar {
    height: 30px;
    width: 200px;
    padding: 0 5px 0 5px;
}

.jugador {
    display: flex;
    margin: 0 0 30px 10px;
}

.imagen-integrante {
    width: 200px;
    max-height: 200px;
}

.descripcion-integrante {
    padding: 10px 30px 10px 30px;
    grid-column-start: 2;
    grid-column-end: 2;
}

.buscar h1 {
    font-family: Inter;
    color: goldenrod;
    font-size: 20px;
    font-weight: 400;
}

.descripcion-integrante h2 {
    margin-bottom: 10px;
    font-family: Inter;
    color: goldenrod;
    font-size: 20px;
    font-weight: 400;
}

.h3-historia, .h3-foro {
    margin-bottom: 10px;
    font-family: Inter;
    color: goldenrod;
    font-size: 25px;
}

.creacion h1 {
    margin: 20px 0 20px 20px;
    font-family: Inter;
    color: goldenrod;
    font-size: 25px;
    font-weight: 400;
}

.creacion h3 {
    padding: 20px 0 0 10px;
    color: goldenrod;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.creacion p {
    text-align: justify;
    margin: 10px 10px 10px 10px;
}

.accordion-body p {
    text-align: justify;
}

.comentarios {
    margin: 20px 0 20px 20px;
    font-family: Inter;
    color: goldenrod;
    font-size: 25px;
    font-weight: 400;
}

.foro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20% 20PX 20%;
    padding: 20px;
    border: 2px goldenrod solid;
    border-radius: 25px;
}

.foro-input {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background-color: goldenrod;
    color: black;
    margin: 10px 0 10px 0;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
}

.foro-input input {
    height: 40px;
    border: none;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 8px;
    width: 100% !important;
}

.foro-input textarea {
    border: none;
    margin-left: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 100% !important;
}

.foro-input label {
    display: block;
}

/*UTILIZACION DE PSEUDOCLASES*/

.nav-link:hover, .wpp-icon i:hover {
    color: goldenrod;
}

.web-logo:hover {
    height: 45px;
}

.web-afa:hover {
    content: url("../img/afa-gold.png");
}

.boton:hover {
    color: white;
    background-color: goldenrod;
}

.jugador:hover {
    background-color: #191919;
}

.jugador:active {
    color: black;
    /*.descripcion-integrante h2 | color: black;*/
    background-color: goldenrod;
}

.boton-buscar:hover, .boton-enviar:hover, .input-buscar:hover, .input-buscar:focus {
    background-color: goldenrod;
    border-color: goldenrod;
}

/*MODIFICACIONES A LA NAVBAR DE BOOTSTRAP*/

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar {
    min-height: 80px;
    border-bottom: 1px solid white;
}

.navbar-toggler {
    border: 1px solid white;
    opacity: 50%;
}

.nav-link {
    font-family: Inter;
    font-size: 22px;
    color: white;
    text-decoration: none;
    padding: 0px !important;
    margin: 0 0 0 40px;
}

.container-fluid {
    margin: 0 10px 0 10px;
    padding: 0;
}

.me-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
}

/*MODIFICACIONES AL ACORDEON DE BOOTSTRAP*/

.accordion-item {
    margin: 20px 10px 20px 10px;
}

.accordion-button {
    font-size: 20px;
}

.accordion-body {
    background-color: goldenrod;
    color: black;
}

/*MEDIA QUIERIES*/

@media screen and (max-width: 1440px) {
    .contenido {
        margin: 0 8% 0 8%;
    }
}

@media screen and (max-width: 992px) {

    .input-buscar {
        max-width: 145px;
        font-size: 14px;
    }

    .boton-buscar {
        max-width: 55px;
        font-size: 14px;
    }

    .buscar {
        margin: 30px 15px 30px 15px;
    }

    .imagen-integrante {
        height: 150px;
        width: 150px;
    }

    .hero {
        height: 550px;
    }

    .nav-link, .container-fluid div {
        display: flex;
        justify-content: right;
        margin: 3px 0 3px 0;
        font-size: 20px;
    }

    .navbar-toggler {
        margin-bottom: 10px;
    }

    .h3-foro {
        font-size: 20px;
    }

    .foro-form {
        margin: 0 10% 20px 10%;
    }
}

@media screen and (max-width: 720px) {
    .contenido {
        margin: 0;
        box-shadow: none;
    }

    .imagen-integrante {
        height: 100px;
        width: 100px;
    }

    .descripcion-integrante {
        padding: 0 10px 10px 10px;
    }

    .hero {
        height: 500px;
    }
    .hero-text {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {

    .hero-text, .info {
        font-size: 25px;
        line-height: 40px;
    }

    .buscar h1 {
        font-size: 15px;
    }

    .descripcion-integrante {
        padding: 0px 15px 10px 15px;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .descripcion-integrante h2 {
        font-size: 15px;
    }

    .descripcion-integrante p {
        font-size: 15px;
    }

    .creacion h1 {
        font-size: 20px;
    }

    .titulos {
        font-size: 20px;
    }
    
    .accordion-body {
        font-size: 14px;
    }

    .descripcion-integrante p {
        font-size: 12px;
    }

    .comentarios {
        font-size: 20px;
    }

    .foro-input label {
        display: none;
    }

    .h3-foro {
        font-size: 18px;
    }

    .link-wpp, .link-afa {
        width: 160px;
    }

    .link-wpp p, .link-afa p {
        font-size: 12px;
    }

    .web-afa {
        width: 50px;
    }

    .wpp-icon i {
        font-size: 45px;
    }
}

@media screen and (max-width: 400px) {

    .hero, .info {
        height: 350px;
    }

    .buscar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buscar h1 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .jugador {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .descripcion-integrante {
        padding: 5px 5px 5px 5px;
        grid-column-start: 2;
        grid-column-end: 2;
        text-align: center;
    }

    .imagen-integrante {
        margin-bottom: 10px;
    }

    .hero-text, .info {
        font-size: 20px;
        line-height: 30px;
    }

    .creacion p, .accordion-body {
        font-size: 12px;
    }

    .foro-form {
        margin: 0 10px 20PX 10px;
    }
    .h3-foro, .foro-input {
        font-size: 14px;
    }

    .link-wpp, .link-afa {
        width: auto;
    }

    .link-wpp p, .link-afa p {
        display: none;
    }
}