.contenido {
    header {
        .navbar {
            min-height: 80px;
            border-bottom: 1px solid $color-contraste;
        }

        nav {
            .container-fluid {
                margin: 0 10px 0 10px;
                padding: 0;
                .web-logo {
                    height: 40px;
                    transition-property: height;
                    transition-duration: 0.15s;
                    &:hover {
                        height: 45px;
                    }
                }

                .navbar-toggler {
                    border: 1px solid $color-contraste;
                    opacity: 50%;

                    .navbar-toggler-icon {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                    }
                }

                div {
                    .me-auto {
                        margin-right: 0 !important;
                        margin-left: auto !important;

                        li {
                            .nav-link {
                                font-family: $web-font;
                                font-size: 22px;
                                color: $color-texto;
                                text-decoration: none;
                                padding: 0px !important;
                                margin: 0 0 0 40px;
                                transition: 0.2s;
                                &:hover {
                                    color: $color-acento;
                                    transform: translateX(-2px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}