/*TEXT FONT IMPORT - FAMILY: INTER*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;800&display=swap');

/*STYLE PROPERTIES RESET*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: $web-font;
}